# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# Environment Variables
.env

# Logs
logs/
*.log

# Django
db.sqlite3
media/

# Node
node_modules/

# Build
dist/
build/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db